body{
    background-image: url("/img/bg.jpeg");
    background-attachment: fixed;
}

.avatar{
    width: 100px !important;
    height: 100px !important;
}

#editor{
    background: white;
    border-radius: 5px;
}