<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="mother::head('Contact list')"></head>

<body>


<img src="http://localhost:8080/user/avatar/5e57dd7af158c343c10ccf66">
<div class="container p-5">
    <!-- contacts card -->
    <div class="row">
        <div class="col-4 ">
            <form action="/" th:if="${contacts.getTotalPages() != 0 || #request.getParameter('search')!=null}">
                <div class="input-group">
                    <input type="text" class="form-control" name="search" id="search"
                           th:value="${#request.getParameter('search')}"
                           placeholder="Search name or mobile"
                            autocomplete="false">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Find</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-8 text-right">
            <a href="/add/contact">
                <button type="button" class="btn btn-secondary mb-2">Add Contact +</button>
            </a>
        </div>
    </div>
    <div class="card card-default" id="card_contacts">
        <div id="contacts" class="panel-collapse collapse show" aria-expanded="true" style="">

            <div class="alert alert-warning" role="alert" th:if="${contacts.getTotalPages() == 0
                && #request.getParameter('search')==null}">
                Sorry we have no contacts. <a href="/add/contact" class="alert-link">Add a new one now</a>
            </div>

            <div class="alert alert-info" role="alert" th:if="${contacts.getTotalPages() == 0
                && #request.getParameter('search')!=null}">
                Sorry, your search doest't have any result
            </div>

            <ul class="list-group pull-down" id="contact-list" th:if="${contacts.getTotalPages() != 0}">

                <li class="list-group-item" th:each="contact,itr:${contacts.getContent()}">
                    <div class="row w-100">
                        <div class="col-12 col-sm-4 col-md-2 px-0">
                            <img th:src="@{'https://i.picsum.photos/id/' + ${itr.index+60} + '/100/100.jpg' }"
                                 alt="Mike Anamendolla"
                                 class="rounded-circle mx-auto d-block img-fluid">
                        </div>
                        <div class="col-10 col-sm-4 col-md-7 text-center text-sm-left">
                            <label class="name lead" th:text="${contact.get('name')}">name</label>
                            <br>
                            <span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title=""
                                  data-original-title='[[${contact.get("number")}]]'></span>
                            <span class="text-muted small" th:text='${contact.get("number")}'>number</span>
                            <br>
                            <span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip"
                                  data-original-title="" title=""></span>
                            <span class="text-muted small text-truncate">test@example.com</span>
                        </div>
                        <div class="col-10 col-sm-4 col-md-3 text-right">
                            <a href="#" th:href="@{'/update/contact/'+${contact.get('id')} }">
                                <button type="button" class="btn btn-outline-primary">Update</button>
                            </a>
                            <a href="#" th:href="@{'/delete/contact/'+${contact.get('id')} }">
                                <button type="button" class="btn btn-outline-danger">Delete</button>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="pagination" th:replace="mother::pagintation(${contacts})"></div>
</div>

</body>
</html>